.card {
  background-color: #ffffff;
  border-radius: 14px;
  padding: 16px;
  display: flex;
  gap: 15px;
  border: 1px solid #eee5dc;
}

.icone {
  width: 40px;
  height: 40px;
  background-color: #f3e7dc;
  color: #8B5E3C;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.titulo {
  margin: 0;
  font-weight: bold;
}

.autor {
  color: #777;
  font-size: 14px;
}

.descricao {
  margin: 5px 0 0;
  font-size: 14px;
  color: #555;
}