.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 360px;
  padding: 30px;
  border-radius: 12px;
  background-color: #f8f5f2;
  border: 1px solid #ddd;
}